:root {
  --white: #f5f5f5;
  --buttonBackground: #009688;
  --primaryColor: #009688;


  --buttonTextMediumDimension: 1.3em;
  --buttonTextSmallDimension: 0.8em;
  --buttonTextLargeDimension: 2em;

  --baseFont: "Lato", sans-serif;
  --alternativeFont: "Karla", sans-serif;

  --timing: .3s;
}

@custom-media    --tablet (min-width:768px);
@custom-media    --desktop (min-width:1200px);

