/* Class that contains row */
.container{
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  
  .row {
    margin-bottom: var(--rowMargin);
  }
}

/* Class that contains columns */
.row{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}