/* Class that contains row */
.container{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  width: 100vw;
}

/* Class that contains columns */
.row{
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}