
html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--baseFont);

    ::selection{
        background-color: var(--primaryColor);
        color:var(--white);
    }
}

h1 {
    font-family: var(--baseFont);
    font-size: 30px;
    font-weight: 700;
    line-height: 1.25;
    opacity: 1.00;
    margin-top: 0px;
    margin-bottom: 10px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h2 {
    font-family: var(--baseFont);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.30;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: -0.72px;
    word-spacing: 0.00px;
    text-transform: none;
}

h3 {
    font-family: var(--baseFont);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.40;
    opacity: 1.00;
    margin-top: 30px;
    margin-bottom: 5px;
    letter-spacing: 0.00px;
    word-spacing: 0.00px;
    text-transform: none;
}

p {
    font-family: var(--alternativeFont);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.60;
    opacity: 0.70;
    margin-top: 0px;
    margin-bottom: 25px;
    letter-spacing: -0.30px;
    word-spacing: -0.10px;
    text-transform: none;
    padding: 0.2rem 0.8rem;
}

