.button{
    color: var(--white);
    font-size: var(--buttonTextMediumDimension);
    padding: 0.5rem 1rem;
    background-color: var(--buttonBackground);
    margin: .5rem;
    vertical-align: middle;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-family: "Karla", sans-serif;
    font-weight: 700;

    &--small{
        font-size: var(--buttonTextSmallDimension);
    }

    &--large{
        font-size: var(--buttonTextLargeDimension);
    }
}