:root {
  --white: #f5f5f5;
  --primaryColor: #2979FF;
  --secondaryColor: #2962FF;
  --successColor: #4CAF50;
  --errorColor: #E53935;

  --buttonTextMediumDimension: 1.3em;
  --buttonTextSmallDimension: 0.8em;
  --buttonTextLargeDimension: 2em;

  --baseFont: "Lato", sans-serif;
  --alternativeFont: "Karla", sans-serif;
  --navbarLinksFontSize: 1.2em;
  --navbarLinksMobileFontSize: 1.3em;

  --rowMargin: 1%;
  --colPadding: 1%;
  
  --timing: .3s;
}

@custom-media    --tablet (min-width:768px);
@custom-media    --desktop (min-width:1200px);

