.col {
  display: block;
}

.col-mobile {
  .one-half {
    width: 50%;
    flex-basis: 50% !important;
  }
  .one-thirds {
    width: 33%;
    flex-basis: 33% !important;
  }
  .one-quarter {
    width: 25%;
    flex-basis: 25% !important;
  }
  .two-thirds {
    width: calc((2/3)*100%);
    flex-basis: calc((2/3)*100%) !important;
  }
  .two-quarter {
    width: calc((2/4)*100%);
    flex-basis: calc((2/4)*100%) !important;
  }
  .three-quarter {
    width: calc((3/4)*100%);
    flex-basis: calc((3/4)*100%) !important;
  }
}

/** Class that identify a full width column **/
.full {
  width: 100%;
  flex-basis: 100%;
}

/** Class that identify a one half column **/
.one-half {
  width: 100%;
  flex-basis: 100%;

  @media (--tablet) {
    width: calc((1/2)*100%);
    flex-basis: calc((1/2)*100%);
  }
}

/** Class that identify a two thirds column **/
.two-thirds {
  width: 100%;
  flex-basis: 100%;
  @media (--tablet) {
    width: calc((2/3)*100%);
    flex-basis: calc((2/3)*100%);
  }
}

/** Class that identify a one thirds column **/
.one-thirds {
  width: 100%;
  flex-basis: 100%;
  @media (--tablet) {
    width: calc((1/3)*100%);
    flex-basis: calc((1/3)*100%);
  }
}

/** Class that identify a one quarter column **/
.one-quarter {
  width: 100%;
  flex-basis: 100%;
  @media (--tablet) {
    width: calc((1/4)*100%);
    flex-basis: calc((1/4)*100%);
  }
}

/** Class that identify a two quarter column **/
.two-quarter {
  width: 100%;
  flex-basis: 100%;
  @media (--tablet) {
    width: calc((1/2)*100%);
    flex-basis: calc((1/2)*100%);
  }
}

/** Class that identify a three quarter column **/
.three-quarter {
  width: 100%;
  flex-basis: 100%;
  @media (--tablet) {
    width: calc((3/4)*100%);
    flex-basis: calc((3/4)*100%);
  }
}
