.col {
  display: block;
  flex: 1;
  padding: 0.5rem;
}

.col-mobile {
  .one {
    &-half {
      width: 50%;
      flex-basis: 50% !important;
    }
    &-thirds {
      width: 33%;
      flex-basis: 33% !important;
    }
  }
  .two {
    &-thirds {
      width: calc((2/3)*100%);
      flex-basis: calc((2/3)*100%) !important;
    }
    &-quarter {
      width: calc((2/4)*100%);
      flex-basis: calc((2/4)*100%) !important;
    }
    &-quarter {
      width: calc((3/4)*100%);
      flex-basis: calc((3/4)*100%) !important;
    }
  }
}

/** Class that identify a full width column **/
.full {
  width: 100%;
  flex-basis: 100%;
  flex: 1;
}

.one {
  &-half {
    width: 100%;
    flex-basis: 100%;
    @media (--tablet) {
      width: calc((1/2)*100%);
      flex-basis: calc((1/2)*100%);
      flex: 1;
    }
  }
  &-thirds {
    width: 100%;
    flex-basis: 100%;
    @media (--tablet) {
      width: calc((1/3)*100%);
      flex-basis: calc((1/3)*100%);
      flex: 1;
    }
  }
  &-quarter {
    width: 100%;
    flex-basis: 100%;
    flex: 1;    
    @media (--tablet) {
      width: calc((1/4)*100%);
      flex-basis: calc((1/4)*100%);
    }
  }
}

.two {
  &-thirds {
    width: 100%;
    flex-basis: 100%;
    @media (--tablet) {
      width: calc((2/3)*100%);
      flex-basis: calc((2/3)*100%);
      flex: 1;
    }
  }

  &-quarter {
    width: 100%;
    flex-basis: 100%;    
    @media (--tablet) {
      width: calc((1/2)*100%);
      flex-basis: calc((1/2)*100%);
      flex: 1;
    }
  }

}

.three{
  &-quarter {
    width: 100%;
    flex-basis: 100%;
    @media (--tablet) {
      width: calc((3/4)*100%);
      flex-basis: calc((3/4)*100%);
      flex: 1;
    }
  }
}
